body{
    margin: 4px;
    padding: 0px;
    background-color: rgb(221, 221, 232);
    border: 2px solid blue;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: blue;
}
.container{
    display: flex;

}
h3{
    background-color: rgb(171, 171, 240);
    
}
.box1{
    margin-top: 2rem;
    margin-left: 2rem;
}
.box1 p{
    margin-left: 2rem;
}
.box2{
    margin-top: 2rem;
    margin-left: 12rem;
}
.box2 p{
    margin-left: 2rem;
}
